[submodule "linux"]
	path = source/linux
	url = https://github.com/torvalds/linux
	shallow = true
[submodule "u-boot"]
	path = source/u-boot
	url = https://github.com/u-boot/u-boot
	shallow = true
[submodule "rkbin"]
	path = source/rkbin
	url = https://github.com/rockchip-linux/rkbin
	shallow = true
[submodule "arm-trusted-firmware"]
	path = source/arm-trusted-firmware
	url = https://github.com/ARM-software/arm-trusted-firmware
	shallow = true
[submodule "edk2-non-osi"]
	path = source/edk2-non-osi
	url = https://github.com/tianocore/edk2-non-osi
	shallow = true
[submodule "amlogic-boot-fip"]
	path = source/amlogic-boot-fip
	url = https://github.com/LibreELEC/amlogic-boot-fip
	shallow = true